body {
    background-image: url(https://www.10wallpaper.com/wallpaper/2560x1440/1911/Avengers_Endgame_2019_Film_4k_HD_Poster_2560x1440.jpg);
    width:100%;
    text-align: justify;
    background-repeat: no-repeat;
    background-size:cover;
    
    }

    main {
    margin-top: auto;
    padding: 50px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1cm;
    }
    
    header {
    top: 0;
    position: fixed;
    color: red;
    font-size: 30px;
    clear: both;
    text-shadow:0px 5px 5px white;
    font-style: italic;
    }
    
    table,
    th,
    td {
    border: 3px solid white;
    color: orange;
    font-weight: bold;
    font-style: italic;
    width: 100%;
    text-align: center;
    clear: both;
    width: 700px;
    }
    
    h2 {
    font-style: italic;
    }
    
    ul li {
    list-style: square;
    }
    
    ul {
    color: red;
    line-height: 0.5cm;
    font-size: 25px;
    margin: auto;
    clear: both;
    }
    ol {
        color: red;
        line-height: 0.5cm;
        font-size: 25px;
        margin: auto;
        clear: both;
    }
    
    footer {
    font-size: 25px;
    font-style: italic;
    margin-top: 10px;
    color: green;
    clear: both
    }
    
    .bloco {
    display: flex;
    justify-content: space-around;
    width: 800px;
    align-content: center;
    }
    
    .lado-esquerdo {
    margin: auto;
    padding: 10px;
    }
    
    .lado-direito {
    margin: auto;
    padding: 10px;
    }
    @media only screen and (max-device-width: 900px) {
        /* .menu { width:100%; } */
        }